@import "./colors.scss";
@import "../_components/Info.scss";

.application-detail {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .application-title {
    font-size: 20px;
    line-height: 28px;
  }

  .ant-divider {
    margin: 10px 0;
  }

  .ant-steps-item-title {
    font-size: 16px;
    line-height: 24px !important;
  }

  .main {
    .ant-row {
      justify-content: space-between;

      .ant-card-body {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .content-body {
          display: flex;
          flex-direction: column;
          row-gap: 32px;

          .profession-info {
            @include InfoMixin;
          }

          .language-certificate-info {
            @include InfoMixin;
          }
        }

        section {
          h3 {
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}

.application-create {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 50px 10px;
  max-width: 1000px;
  margin: auto;

  .ant-form {
    .ant-space {
      width: 100%;
    }

    .ant-row {
      justify-content: space-between;
    }

    .ant-form-item {
      .ant-row {
        flex-direction: column;
        align-items: flex-start;

        .ant-col {
          width: 100%;
          text-align: left;

          .ant-picker {
            width: 100%;
          }
        }
      }

      &-control {
        flex: none;
      }

      .ant-radio-group.gender-radio {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: auto;

        .ant-radio-wrapper {
          background-color: #f5f5f5;
          padding: 8px;
          border-radius: 4px;

          &-checked {
            background-color: #e6f4ff;
          }
        }
      }

      .ant-radio-group.place {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .ant-segmented-group {
    justify-content: center;

    .ant-segmented-item {
      width: 100%;
    }
  }

  .continue-btn {
    background: $greenGradient;
    transition: 0.6s ease;
    font-weight: 600;

    &:hover {
      color: lime !important;
      border: 1px solid lime;
      background-color: white !important;
    }
  }
}

.application-detail {
  @media screen and (max-width: 800px) {
    main {
      .steps,
      .info {
        max-width: 100%;
      }

      .steps {
        order: 1;
      }

      .info {
        order: 2;
      }

      & > .ant-row {
        flex-direction: column;
        row-gap: 15px;
      }
    }
  }
}
