.auth-btns {
  display: flex;
  gap: 10px;
  margin: auto;
  padding-top: 16px;
  align-items: center;

  .btn.ant-btn {
    max-width: 280px;
    width: 280px;
    padding: 24px 10px;
    color: inherit;
    font-weight: 600;
    line-height: 20px;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.4s ease;

    &:hover {
      color: black;
      background-color: white !important;
      background: white !important;
    }

    &.login-btn {
      background-color: #264a6a;
    }

    &.signup-btn {
      background: linear-gradient(90deg, #01a52f 27.5%, #bddb08 100%);
    }
  }
}
