.logo {
  a {
    align-items: center;
    display: flex;
    column-gap: 12px;

    img {
      width: 64px;
    }

    span {
      font-weight: 700;
      font-size: 15pt;
      line-height: 22px;
      letter-spacing: 0.3px;
    }
  }
}

@media screen and (max-width: 480px) {
  .logo {
    img {
      width: 48px !important;
      height: 48px !important;
    }
  }
}
