@import "../../_styles/colors.scss";

.ant-form.personal-info-form {
  font-size: 16px;
  line-height: 24px;

  .ant-form-item {
    margin: 0;
    padding: 8px 12px;
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
    transition: background-color 0.4s ease;

    &:hover {
      background-color: #e6f4ff;
    }

    .ant-form-item-row {
      flex-direction: row !important;
      flex-wrap: wrap;
      align-items: center;

      .ant-col {
        width: auto;
        padding: 0;
      }

      label {
        min-width: 100px;
      }

      input {
        width: 100%;
        text-align: right;
        font-weight: 600;
        background-color: transparent;
      }

      input[readonly] {
        border: none;
      }
    }
  }
}
